server {
    listen       82;
    server_name  localhost;

    #charset koi8-r;

    #access_log  logs/host.access.log  main;

    location / {
        root   /usr/local/nginx/html;
        index  index.html index.htm;
    }
}


server {
    listen 192.168.1.100:8080;
    server_name test.example another.domain;

    location aa {}

}